/*! header */
/*? dropdown full page */
.dropdown { position: static; }
.dropdown-menu {min-width: 576px; width: 100vw; text-align: center; }

/* .dropdown-container
{
    padding: 10px 300px 10px 300px;
} */
.dropdown-container img
{
    max-width: 100px;
}

/*! jumbotron */
.jumbotron
{
    margin-top: 138px;
    padding-top: 200px;
    background-image: url(./img/jumbo-bg.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: top;
    color: white;
}
.jumbotron-news
{
    padding: 4rem 2rem;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: top;
    color: white;
}

.jumbotron-container
{
    max-width: 576px;
}
.logo-game
{
    width: 200px;
}

/*! cards */
.ms-card
{
    border-radius: 50px;
    margin-bottom: 20px;
}

.console-bottom img
{
    max-width: 150px;
    padding: 0 10px;
}

.new-releases
{
    padding: 4rem 2rem;
    background-color: black;

}
.new-releases *
{
color: white;
}


.new-releases img
{
    max-width: 250px;
    padding: 20px;
    transition: 1s;
}
.new-releases img:hover
{
    transform: scale(1.5);
}

.play-station-4 img
{

    padding: 20px;
    transition: 1s;
}
.play-station-4 img:hover
{
    transform: scale(0.8);
}

/*! plus */
.play-station-plus
{
    padding: 0rem 4rem;
    background: lightgray;
    max-height: 500px;
}

.play-station-plus .column
{
    max-width: 400px;
}
#ps-plus-img
{
    max-height: 500px;
}

