/*! header */
/*? dropdown full page */
.dropdown {
    position: static;
}

.dropdown-menu {
    min-width: 576px;
    width: 100vw;
    text-align: center;
}

/* .dropdown-container
{
    padding: 10px 300px 10px 300px;
} */
.dropdown-container img {
    max-width: 100px;
}

/*! jumbotron */
.jumbotron {
    margin-top: 138px;
    padding-top: 300px;
    background-image: url(./img/jumbo-bg.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: top;
    color: white;
    /* height: 600px; */
}

.jumbotron-news {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: top;
    color: white;
}

.logo-game {
    width: 200px;
}

/*! cards */
.console-bottom img {
    max-width: 150px;
    padding: 0 10px;
}

.new-releases {
    padding: 4rem 2rem;
    background-color: black;

}

.new-releases * {
    color: white;
}


.new-releases img {
    transition: 0.5s;
}

.new-releases img:hover {
    transform: scale(0.99);
    filter: brightness(0.6);
}

.play-station-4 img {

    padding: 20px;
    transition: 1s;
}

.play-station-4 img:hover {
    transform: scale(0.8);
}

.sales img {

    padding: 20px;
    transition: 1s;
}

.sales img:hover {
    transform: scale(0.99);
    filter: brightness(0.6);
}

.social img {

    padding: 20px;
    transition: 1s;
}

.social img:hover {
    transform: scale(0.9);
    filter: brightness(0.8);
}


/*! plus */
.play-station-plus {
    background: lightgray;
}

.play-station-plus .box {
    /* max-width: 400px; */
}

/* #ps-plus-img {
    max-height: 500px;
} */

/*! now */
.play-station-now {
    /* padding: 0rem 4rem; */
    background: rgb(0, 0, 50);
    color: white;
    /* max-height: 500px; */ */
}

/* .play-station-now .box {
    max-width: 400px;
}

#ps-now-img {
    max-height: 500px;
} */


/*! footer */
footer {
    background-color: black;
    transition: 1s;
}

footer:hover {
    filter: invert(1);
}

footer * {
    color: white;
    font-weight: bold;
}

.selectpicker {
    background-color: black;
}